/*footer*/

.footer-bg{
    background-color:  #f1c2bd;
}
.footer-title{
    color:white;
    display: block;
    text-align: center;
    margin-bottom: 6%;
    font-family:lobster;
   
   
  }
.list li a i.fab{
      font-size:26px;
      margin:0px 1rem
  }
.list-link li a{
display: block;

}
  .list{
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    }

.list li a {
      color: white;
      font-weight: 500;
      font-size: .9em;
      padding: .3em 0;
      text-align: center;
      font-family:lobster;
    }
  
  
  .sc{
    display: flex;
    overflow: hidden;
    text-align: center;
    height:31px;
   
    margin-left: 8rem
  }
  .sc-wrap{
    width:58px;
    display: flex;
    transition: all 0.3s ease-in-out;
 
  
  }
  .sc-wrap:hover{
    width:200px;
  
  
  }
  .footer-logo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
  }
/*bottom footer*/
.dsg{
    color:black;
  
    margin-bottom:0px;
    padding:1% 0px;
}
.bg-bottom{
   /* background-color:rgb(254, 231, 21,1);*/
   background-color:rgba(241,194,189,0.5)
  
}
.dsg a{
  color:black!important;
}
/*//bottom part*/
/*//footer*/
@media (max-width: 768px) { 
  .sc{
    margin-left:6rem
  }
}