<!--footer-->
<div class="footer-bg ">
    <div class="row no-gutters justify-content-center py-2">



        <div class="col-sm-3  ">

            <ul class="list list-link">
                <li>
                    <h5 class="footer-title">Follow Us</h5>
                </li>
                   
                <li class="sc ">
                   
                    <a class="sc-wrap" href="https://www.instagram.com/cake_up_egypt/?hl=en"><i class=" fab fa-instagram"></i>/ instagram</a>
                    <a class="sc-wrap" href="https://www.facebook.com/CakeUpEgypt">  <i class=" fab fa-facebook-square"></i>/ facebook</a>
                
                </li>
                <li >
                  
                </li> 
            </ul>
        </div>
        <div class="col-sm-3 d-flex justify-content-center">

            <a class="logo-wrap-footer" href="#top" >
                <img src="assets/image/cake-up-logo.png" class=" mx-auto footer-logo nav-logo" alt="logo">
            </a>
        </div>

     

      

        <div class="col-sm-3 ">

            <ul class="list list-link" id="contact">
                <li>
                    <h5 class="footer-title">Get in Touch</h5>
                </li>
                <li> <a href="tel:+2 01027692920"><i class="fas mr-2 fa-phone-alt"></i>+2 01027692920</a></li>
              

            </ul>
        </div>

    </div>
</div>
<!--bottom part-->
<div class="row bg-bottom no-gutters justify-content-center">
    <p class="dsg"><i class="far fa-copyright"></i> CakeUpEgypt 2020.Developed and maintained by <a  href="https://giraffecode.com/" >Giraffe Code.</a> </p>
</div>
<!--//bottom part-->
