<nav class="navbar navbar-expand-lg nav-style navbar-light " id="top">
  <a class="navbar-brand show-n-sm" routerLink="/index"><img src="assets/image/cake-up-logo.png" class="img responsive nav-logo" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item my-auto active">
          <a class="nav-link" routerLink="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link" href="#cat">Categories</a>
        </li>
        <li class="nav-item my-auto">
          <a class="nav-link" href="#shop">Our Shop</a>
        </li>
        <li class="nav-item space-nav h-n-sm pos-rel">
          <a class="nav-link" href=""></a>
          <div class="logo-wrap-nav">
            <a  routerLink="/index"><img src="assets/image/cake-up-logo.png" class="img responsive nav-logo" alt="logo"></a>
          </div>
        </li>
      
        <li class="nav-item my-auto">
          <a class="nav-link" href="#cel">Celebrities</a>
        </li>
        <li class="nav-item my-auto">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link" href="#contact">Contact Us</a>
          </li>
      </ul>

    </div>
   
  </nav>
