
   .nav-style{
       position: absolute;
       z-index:999;
       top:0px;
       width:100%;
       background-color:rgba(248,249,250,0.5)!important;
       text-align: center;

   }
   .navbar-light .navbar-nav .nav-link{
       color:black;
   }
   .logo-wrap-nav{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translatex(-50%);
   }
   .space-nav{
       width:170px;
       
   }
   .show-n-sm{
       display: none;
   }
   @media (max-width: 768px) { 
    .h-n-sm{
        display: none;
    }
    .show-n-sm{
        display: block;
    }
    .nav-style{
        background-color:rgba(248,249,250,0.9)!important;
    }
    }