<app-navbar></app-navbar>
<div class="main-bg pos-rel">
    <div class="dspl-block"></div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/image/cake-occasion.png" class="main-text" alt="main-text">
                <img src="assets/image/midel-cake.png" class="main-cake" alt="main-cake">
            </div>
            <div class="carousel-item">

                <img src="assets/image/celebrate-intro.png" class="main-text" alt="main-text">

                <img src="assets/image/model-cake-2.png" class="main-cake" alt="main-cake">
            </div>


        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="bg-cat">
    <div class="dspl-block" id="cat"></div>
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-4 text-center">
            <h3 class="index-title ">Categories</h3>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-8 text-center">
            <img src="assets/image/Vector-Smart-Object.png" alt="vector" class="divider">
        </div>
    </div>
    <div class="dspl-block-sub"></div>
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-2">
            <img src="assets/image/Cakes.png" alt="cat img" class="img-responsive cat-img">
        </div>
        <div class="col-sm-2 offset-sm-2">
            <img src="assets/image/Cakes-Pops.png" alt="cat img" class="img-responsive cat-img">
        </div>
        <div class="col-sm-2 offset-sm-2">
            <img src="assets/image/Cookies.png" alt="cat img" class="img-responsive cat-img">
        </div>

    </div>

    <div class="row no-gutters justify-content-center">
        <div class="col-sm-2">
            <img src="assets/image/Cupcakes.png" alt="cat img" class="img-responsive cat-img">
        </div>
        <div class="col-sm-2 offset-sm-2">
            <img src="assets/image/Jars.png" alt="cat img" class="img-responsive cat-img">
        </div>

    </div>
    <div class="dspl-block" id="shop"></div>

    <div class="row no-gutters justify-content-center">
        <div class="col-sm-4 text-center">
            <h3 class="index-title ">Our Shop</h3>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-8 text-center">
            <img src="assets/image/Vector-Smart-Object.png" alt="vector" class="divider">
        </div>
    </div>

    <div class="slick-slide-wrapper pos-rel">
        <ngx-slick-carousel class="carousel mt-5" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of categories" class="slide">
                <!-- slide-style -->


                <!--     <img src="{{ slide.image }}" alt="" class="img-responsive cat-img">-->
                <div class="card-body py-0 text-center">

                    <img src={{slide.image}} class="pro-img" alt="product">


                </div>

            </div>
        </ngx-slick-carousel>

        <button class="btn-prev btn  btn-car-style btn-car-left black-color" (click)="prev()"><i
                class="fas fa-chevron-left"></i></button>
        <button class="btn-next btn btn-car-style btn-car-right black-color" (click)="next()"><i
                class="fas fa-chevron-right"></i></button>


    </div>
    <div class="dspl-block-sub"></div>
    <div class="dspl-block" id="cel"></div>
    <div class="row no-gutters justify-content-center">

        <div class="col-sm-4 text-center">
            <h3 class="index-title ">Celebrities</h3>
        </div>

    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-sm-8 text-center">
            <img src="assets/image/Vector-Smart-Object.png" alt="vector" class="divider">
        </div>
    </div>
    <div class="slick-slide-wrapper pos-rel">
        <ngx-slick-carousel class="carousel mt-5" #slickModalCelb="slick-carousel" [config]="slideConfigCelb">
            <div ngxSlickItem *ngFor="let slide of celebreties" class="slide">
                <!-- slide-style -->


                <!--     <img src="{{ slide.image }}" alt="" class="img-responsive cat-img">-->
                <div class="card-body py-0 text-center">

                    <img src="{{ slide.image }}" class="pro-img">

                </div>


            </div>
        </ngx-slick-carousel>

        <button class="btn-prev btn  btn-car-style btn-car-left black-color" (click)="prevCelb()"><i
                class="fas fa-chevron-left"></i></button>
        <button class="btn-next btn btn-car-style btn-car-right black-color" (click)="nextCelb()"><i
                class="fas fa-chevron-right"></i></button>
    </div>
    <div class="dspl-block-sub"></div>
    <div class="dspl-block" id="about"></div>
</div>
<div class="about-bg">
    <div class="dspl-block"></div>
    <div class="row no-gutters">

        <div class="col-sm-10 d-flex justify-content-end">
            <div class="about-wrap pos-rel">
                <img src="assets/image/about.png" alt="about title" class=" about-title">
                <img src="assets/image/about-p.png" alt="about title" class=" about-p-img">

            </div>
            <div class="rotating-cake">

                <img src="assets/image/Layer-5-copy.png" alt="cake" class="rotating rotate-cake-img">
            </div>
        </div>
    </div>
    <div class="dspl-block"></div>
</div>
<app-footer></app-footer>