@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
 
  .rotating {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
  }
.main-bg{
    background-image: url(src/assets/image/background-home.png);
    height:730px;
    width:100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.bg-cat{
    background-image: url(src/assets/image/background-cateries.png);
    width:100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.about-bg{
    background-image: url(src/assets/image/background-about.png);
    width:100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.main-cake{
    height:640px;
    width:auto;
    max-width:400px;
}
.main-text-wrap{
    width:90%;
  
    max-height:600px;
}
.main-text{
    width:30%;
    margin:0px 15%;
    max-height:600px;
}

.intro-txt{
    position: absolute;
    width:75%;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dspl-block{
    width:100%;
    height:90px;
}
.dspl-block-sub{
    width:100%;
    height:50px; 
}
.divider{
    height:30px;
    width:auto
}

.index-title{
    font-family:'lunica',sans-serif !important;
    margin-bottom:1rem;
}
.cat-img{
    width:100%;
    height:auto;
    max-height:400px;
}
.btn-car-left{
    top:50%;
    left:10px;
    position: absolute;
    transform: translatey(-50%);
}
.btn-car-right{
    top:50%;
   right:10px;
    position: absolute;
    transform: translatey(-50%);
}
.pro-img{
    margin: 0px auto;
    padding: 2%;
    background: white;
}
.slick-slide {
    outline: none
}
.black-color{
    color:black !important; 
}
.about-title{
    width:100px;
    height:auto;
    max-height:100px;
    display:block;
    margin:0rem auto 4rem
}
.about-p-img{
    width:70%;
    height:auto;
    max-height:800px;
    display: block;
    margin:0px auto
}
.rotate-cake-img{
    position:absolute;
    width:350px;
    height:auto;
    max-height:360px;
  
    top:calc( 50% - 175px);
    left:-175px;
    
}
.title-index{
    width:150px;
    height:auto;
    max-height:200px;
}
@media (max-width: 768px) { 
    .main-cake{
        width: 38%;
        height:auto;


    }
    .main-bg{
        height:400px;
        padding-top:5rem
    }
    .cat-img{
        margin-top:2rem
    }
    .rotate-cake-img{
      
        width:230px;
        height:auto;
        max-height:240px;
      
        top:calc( 50% - 115px);
        left:-135px;
        
    }
    .about-p-img{
        margin-right:0px;
    }
}