/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:lunica;
    src: url(src/assets/font/launica.ttf) format("truetype");
  
    
}
@font-face{
    font-family:lobster;
    src: url(src/assets/font/Lobster-Regular.ttf) format("truetype");
    
    }
html{
    scroll-behavior: smooth;
  
   
}
body{
    font-family:'lunica',sans-serif !important;
    
}

.secfont{
    font-family:'lunica',sans-serif !important;
}

.nav-logo{
    height:140px;
    width:auto;
    max-width:140px;
    display: block;
  
   
   }
   
   .logo-wrap-nav{
    background-color: rgba(248,249,250,0.5)!important;
    border-radius: 50%;
  
   
   }
   .logo-wrap-footer{
    background-color:white!important;
    border-radius: 50%;
    
    width:180px;
    height:180px;
    position:relative
   
   }
   .pos-rel{
    position:relative;
}  
